 <% include ./partials/header %>
 <div class='container'>
     <div class='row'>
         <div class='col-md-12 text-center'>
            <h2> Sample Responsive Grid</h2>
            <hr>
         </div>
     </div>
     <div class='row'>
         <div class='col-md-4 col-sm-6 col-xs-12'>
              <h3>Title 1 Here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit illo impedit doloribus voluptas praesentium facere nulla commodi magni. Quaerat, aperiam molestias enim adipisci ea facere odio inventore minima? Molestias, eveniet.</p>
         </div>
          <div class='col-md-4 col-sm-6 col-xs-12'>
              <h3>Title 2 Here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit illo impedit doloribus voluptas praesentium facere nulla commodi magni. Quaerat, aperiam molestias enim adipisci ea facere odio inventore minima? Molestias, eveniet.</p>
         </div>
         <div class='col-md-4 col-sm-6 col-xs-12'>
              <h3>Title 3 Here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit illo impedit doloribus voluptas praesentium facere nulla commodi magni. Quaerat, aperiam molestias enim adipisci ea facere odio inventore minima? Molestias, eveniet.</p>
         </div>
         <div class='col-md-4 col-sm-6 col-xs-12'>
              <h3>Title 4 Here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit illo impedit doloribus voluptas praesentium facere nulla commodi magni. Quaerat, aperiam molestias enim adipisci ea facere odio inventore minima? Molestias, eveniet.</p>
         </div>
          <div class='col-md-4 col-sm-6 col-xs-12'>
              <h3>Title 5 Here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit illo impedit doloribus voluptas praesentium facere nulla commodi magni. Quaerat, aperiam molestias enim adipisci ea facere odio inventore minima? Molestias, eveniet.</p>
         </div>
         <div class='col-md-4 col-sm-6 col-xs-12'>
              <h3>Title 6 Here</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit illo impedit doloribus voluptas praesentium facere nulla commodi magni. Quaerat, aperiam molestias enim adipisci ea facere odio inventore minima? Molestias, eveniet.</p>
         </div>
     </div>
     </div>
   <% include ./partials/footer %>   