 <% include ./partials/header %>
 <div class='container'>
            <h2> Sample Tabs</h2>
         
     <hr>
<div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>
        <ul class="nav nav-tabs">
        <li class="active"><a href="#winthrop" data-toggle="tab">Dr. Winthrop</a></li>
        <li><a href="#chase" data-toggle="tab">Dr. Chase</a></li>
        <li><a href="#sanders" data-toggle="tab">Dr. Sanders</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="winthrop">
            
             <div class='media' style='margin-top: 10px;'>
               <img class='media-object pull-right' src='http://www.spottidog.co.uk/_imgstore/8/4013130968/thumbnail/s0xNNliiPo_OdjNPb7HFjkHL8j8.png'>   
               <div class='media-body'>
                   <p style='padding: 10px;'>Dr. Winthrop is the guardian of Missy, a three-year old Llaso mix, who he adopted at the shelter (he just couldn&rsquo;t resist those sad eyes). Dr. Winthrop is passionate about spay and neuter and pet adoption, and works tireless hours outside the clinic, performing free spay and neuter surgeries for the shelter.</p>   
              </div>
            </div>
        </div>
        <div class="tab-pane" id="chase">
          <p style='padding: 10px;'>Dr. Chase spends much of her free time helping the local bunny rescue organization find homes for bunnies, such as Kibbles. This cuddly Dalmatian bunny is part of the large Chase household, which also includes two dogs, three cats, and a turtle.</p>
        </div>
        <div class="tab-pane" id="sanders">
          <p style='padding: 10px;'><img src='http://image3.buyincoins.com/bicv2/product/s3/f9/071975-1-05.JPG' class='img-rounded pull-right'>
          Leroy walked into Dr. Sanders&rsquo; front door when she was moving into a new house. After searching for weeks for Leroy&rsquo;s guardians, she decided to make Leroy a part of her pet family. Leroy has settled into his new home, and especially enjoys playing with Dr. Sanders&rsquo; other cats.</p>
        </div>
      </div>
    </div>
</div>
<a href='/'>Home</a>
 <% include ./partials/footer %> 
 </div>